#annons {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
}

.annons {
  font-family: 'Raleway', sans-serif;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 0 2px black;
  margin-bottom: 1rem;
  width: 100%;
  padding: 1rem;
  a {
    text-decoration: none;
    color: black;
  }
  p {
    margin: .4rem; 
  }
  .annonsrubrik {
    color: #00aa3c;
  }
}

@media(min-width: 900px) {
  #annons{
   justify-content: center;
}

  .annons {
    width: 45%;
  }

  .annons:nth-child(odd) {
    margin-right: 1rem;
  }
}