nav {
  display: flex;
  font-family: 'Raleway', sans-serif;
}
#filteringForm{
  margin: 0 auto;
  text-align: center;
}
.nav-box{
  display: inline-block;
  margin: 0.5rem;
  min-width: 150px;
}

.labelNumberOfDisplay, #numberOfDisplay, .labelSelectLan, #selectLan, .searchButton, #keyword, .labelSelectKategori, #selectKategori {
  border-radius: 5px;
  padding: 1rem;
}
.labelNumberOfDisplay, .labelSelectLan, #keyword, .labelSelectKategori{
  text-align: right;
}

.searchButton{
  background-color: #00aa3c;
  color: white;
}