nav {
  display: flex;
  font-family: 'Raleway', sans-serif;
}
#filteringForm{
  margin: 0 auto;
  text-align: center;
}
.nav-box{
  display: inline-block;
  margin: 1rem;
  min-width: 300px;
}

.labelNumberOfDisplay, #numberOfDisplay, .labelSelectLan, #selectLan, .searchButton, #keyword{
  border-radius: 5px;
  padding: 1rem;
}
.labelNumberOfDisplay, .labelSelectLan, #keyword{
  text-align: right;
}
.searchButton{
  background-color: #00aa3c;
  color: white;
}