#annons{
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
}
.annons {
  font-family: 'Raleway', sans-serif;
  background-color: white;
  border: solid black 1px;
  border-radius: 4px;
  // box-shadow: 4px 4px 4px black;
  margin-bottom: 1rem;
  adding: 1rem;
  width: 100%;
  padding: 1rem;
  a {
    text-decoration: none;
    color: black;
  }
 /*  &:hover {
    transform: scale(1.1);
    background-color: #00aa3c;
  } */
}
.annonsrubrik {
  font-weight: bold;
}
.yrkesbenamning {
font-size: 0.8rem;
}
.arbetsplatsnamn {
  font-size: 0.8rem;
}
.kommunnamn {
  font-size: 0.8rem;
}
.anstallningstyp {
  font-size: 0.8rem;
}

@media(min-width: 900px) {
  #annons{
   justify-content: center;
}

  .annons {
    width: 45%;
  }

  .annons:nth-child(odd) {
    margin-right: 1rem;
  }
}