header {
  background-color: #00aa3c;
  border-bottom: solid black 1px;
  padding: 1rem;
  color: white;
  text-align: center;
}
h1 {
  font-family: "Fjalla One", sans-serif;
  font-size: 2rem;
  padding: 1rem;
}
h2{
  font-family: Raleway;
  font-size: 1.3rem;
}
h3{
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;

}