
header {
  background-color: white;
  border-bottom: solid black 1px;
  color: black;
  margin-bottom: 2rem;
  padding-left: 3rem;
  text-align: left;
  width: 100%;
  img{
  width: 80%;
    display: inline-block;
    margin-left: 1rem;
    margin-top:2rem;
  }
  @media screen and (min-width: 800px)  {
    img{
      width: 30%;
    }
  }
}

h3 {
  display: block;
  font-family: Raleway;
  font-size: 1rem;
  text-align: center;
  width: 80%;
}