
nav {
  padding: 1rem;
  text-align: center;
  border-bottom: solid black 1px;
  font-family: 'Raleway', sans-serif;
}

#textInputField {
  border-radius: 5px;
  margin: 1rem auto;
  max-width: 700px;
  padding: 1rem;
  width: 60%;
}
#submitButton{
  border-radius: 5px;
  margin: 1rem auto;
  max-width: 700px;
  padding: 1rem;
  width: 60%;
}

#selectLan {
  border-radius: 5px;
  margin: 1rem auto;
  max-width: 700px;
  padding: 1rem;
  width: 60%;
}

.kategorier {
  border-radius: 5px;
  margin: 1rem auto;
  max-width: 700px;
  padding: 1rem;
  width: 60%;
}
