@import "annons";
@import "footer";
@import "header";
@import "nav";
@import "normalize";
@import "modal";

// Inlude padding and border in box width;
* {
  box-sizing: border-box;
}

body {
  background-color: white;
}

.container{
  display:flex;
  flex: 1;
  flex-wrap: wrap;
}
aside{
  flex: 0.2;
}

