@import "annons";
@import "footer";
@import "header";
@import "nav";
@import "normalize";

// Inlude padding and border in box width;
* {
  box-sizing: border-box;
}

body {
  background-color: white;
}
#annons{
  padding: 1rem;
}

nav {
  font-family: 'Raleway', sans-serif;
  padding: 1rem;
  text-align: center;
  border-bottom: solid black 1px;
  input {
    padding: 1rem;
    margin: 1rem;
  }

  .labelNumberOfDisplay {
    width: 90%;
    margin: 0 auto;
    display: block;
    font-size: 2em;
    font-weight: bold;
  }

  .numberOfDisplay {
    width: 90%;
    font-size: 1.5em;
    padding: 1rem;
  }
